:root {
    --color1: #eaeef2;
    --color2: white;
    --color3: #c1cdcd;
    --color4: #0aa69a;
}

body {
    background: linear-gradient(
        90deg,
        var(--color1),
        var(--color2),
        var(--color1)
    );
    padding: 0;
    margin: 0;
}
/*||||||||||||||||||||HEADER||||||||||||||||||||||||||*/
header {
    background-color: var(--color4);
    padding: 2px;
    margin: 0;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo p {
    display: inline-block;
    margin: 0 0 0 1rem;
    font-weight: bold;
    font-size: 30px;
    padding: 3px;
}
.navContainer ul li{
    display: inline-block;
    margin: 0 3rem 0 0;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}
a {
    text-decoration: none;
    color: aqua;
}
a:hover {
    color: white;
}
/*||||||||||||||||||||||HEADER|||||||||||||||||||||*/

main {
    text-align: center;
    padding: 20px;
}
.cityInputSection, .weatherInputSection {
    padding: 1rem 0 3rem;
}
.weatherInputSection {
    padding-top: 0;
    margin-bottom: 5rem;
}
.cityForm div, .weatherForm div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.cityInputSection h1, .weatherInputSection h1 {
    color: var(--color4);
    text-shadow: 
        1px 1px 1px #4b6b72,
        2px 2px 2px #548b7e;
    font-family: Monospace, sans-serif;
    font-size: 3.5rem;
    margin-top: 11rem;
}
.cityInputSection .cityName, .weatherInputSection .weatherCondition {
    height: 2.5rem;
    padding: 0;
    margin: 0 5rem 1rem 5rem;
    width: 35%;
    border: 1px solid var(--color4);
    border-radius: 10px;
    box-shadow: 
        1px 1px 1px #4b6b72,
        1.5px 1.5px 1.5px #548b7e;
    font-size: 1.1rem;
} 
.cityInputSection .cityBtn, .weatherInputSection input[type="submit"] {
    background-color: var(--color4);
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 10%;
    color: white;
    font-size: 1.1rem;
    box-shadow: 
        1px 1px 1px #4b6b72,
        2px 2px 2px #548b7e;
}
.weatherInputSection input[type="submit"]:hover, .cityBtn:hover {
    background-color: #628992;
    color: var(--color1);
}